<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->

    <!--boton whatssapp flotante-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/estilos.css">
    <!-- <link rel="stylesheet" href="/estilosNuevos.css"> -->
     
    <link rel="shortcut icon" href="./la-portada.jpeg" type="image/x-icon">
    <title>Tienda-de-ropa</title>
</head>

<body>
    <header>
        <!-- fija barra de menu -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <div class="container">
                        <div href="#" class="brand-logo" text-align="center">Lo de Mirian</div>
                        <a href="#" data-target="menu-responsive" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down" >
                            <li ><a target="_blank" href="#home">Home </a></li>
                            <li><a target="_blank" href="#portfolio">Galeria</a></li>
                            <li><a href="#contacto">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="menu-responsive">
            <li><a target="_blank" href="#home">Home</a></li>
            <li><a target="_blank" href="#portfolio">Galeria</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>

        <!-- <section class="textos-header" id="home">
            <div class="contenedor">
            <h2> Indumentaria femenina</h2>
            <h3>El lugar para vos...</h3>
            </div>
        </section> -->
        <div class="wave">
            <div style="height: 100px; overflow: hidden;"><svg viewBox="0 0 500px150" preserveApxspectRatio="none" style="height: 400px; width: 500pxpx;"><path d="M0px.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #eaeef13a;"></path></svg></div>
        </div>
        </div>
    </header>
    <main>
        <!-- <section class="sobre-nosotros">
            <h2 class="titulo">nuestro produto</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="./portada4.jpg" alt="" class="imagen-about-us">
                <div class="contenido-textos">
                    <h3><span>1</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, atque accusantium ad quaerat neque, facilis corrupti eius nam tempora labore sunt eum eveniet cum quisquam consequatur possimus beatae, molestias rerum.</p>
                    <h3><span>2</span>Los mejores productos</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, atque accusantium ad quaerat neque, facilis corrupti eius nam tempora labore sunt eum eveniet cum quisquam consequatur possimus beatae, molestias rerum.</p>
                </div>
            </div>
        </section> -->
        <section class="portfolio" >
           <div class="contenedor" id="portfolio" target="_blank">
            <div class="galeria" >
                <h1> Galeria </h1>
                <div class="linea"></div>
                <div class="contenedor-imagenes">
                    
                    <div class="imagen">
                        <img src="./buzoAzulConRayaHombre.jpeg" alt="" width="400px " height="400px" ;>
                        <p class="letra">Buzo de hombre T 3 </p>
                    </div>
                    <div class="imagen">
                        <img src="./buzoAzulHombre.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Buzo hombre T 3 </p>
                    </div>
                    <div class="imagen">
                        <img src="buzoCamelHombre.jpeg" alt="" width="400px " height="400px" ;>
                        <p class="letra">Buzo hombre T 2 </p>
                    </div>
                    <div class="imagen">
                        <img src="buzoCelesteCapuchaHombre.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Buzo hombre T 2 </p>
                    </div>
                    <div class="imagen">
                        <img src="buzoGrisHombre.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Buzo hombre T 2 </p>   
                    </div>
                    <div class="imagen">
                        <img src="buzoRojoRayaHombre.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Buzo hombre T 2 </p>
                    </div>
                    <div class="imagen">
                        <img src="buzoRosaHombre.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Buzo hombre </p>
                    </div>
                    <div class="imagen">
                        <img src="mantelitoAzul.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Pantalón T 3 </p>
                    </div>
                    <div class="imagen">
                        <img src="mantelitoRojo.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Pantalón T 3 </p>
                    </div>
                    <div class="imagen">
                        <img src="zapatillasBotitasNegras.jpeg" alt="" width="400px " height="400px" ;>
                        <p class="letra">Zapatillas T 38 </p>
                    </div><div class="imagen">
                        <img src="zapatillasRojas.jpeg" alt="" width="400px " height="400px" ;>
                        <p class="letra">Zapatillas T 38 </p>
                    </div>



                    <div class="imagen">
                        <img src="bengalina-con-friza-talle3.jpeg" alt="" width="400px  " height="400px" ;>
                        <p class="letra">Pantalón bengalina c/friza T 3 $2600</p>
                    </div>
                    <div class="imagen">
                        <img src="campera-talle-2-3.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra">Campera T 2 - T 3 $4500 </p>
                    </div>
                     <div class="imagen">
                        <img src="buzoRosa-t-m.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Buzo Rosa T. M $3500 </p>
                    </div>

                    <div class="imagen">
                        <img src="remera-mc-talleUnico1.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra">Remera M/C T.U Abarca hasta un T4 $1200 </p>                       
                        </div>
                    </div>
                    <div class="imagen">
                        <img src="remera-mc-talleUnico2.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra">Remera M/C T.U Abarca hasta un T4 $1200</p>
                    </div>
                    <div class="imagen">
                        <img src="remera-mc-talleUnico3.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra">Remera M/C T.U Abarca hasta un T4 $1200</p>
                    </div>
                    <div class="imagen">
                        <img src="remera-mc-talleUnico4.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra">Remera M/C T.U. Abarca hasta un T4 $1200</p>
                    </div>
                    <div class="imagen">
                        <img src="remera-mc-talleUnico5.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra">Remera M/C T.U Abarca hasta un T4 $1200 </p>
                    </div>





                    <div class="imagen">
                        <img src="conjunto-b-c-talle85.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Conjunto T85 </p>
                    </div>
                    <div class="imagen">
                        <img src="conjunto-piel-85.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Conjunto C.Piel T85 </p>
                    </div>
                    <div class="imagen">
                        <img src="conjunto-talle-500px1800.jpeg" altpx="" width="400px " height="400px" ;>
                        <p class="letra">Conjunto T100 $1800 </p>
                    </div>
                    <div class="imagen">
                        <img src="corpiño-talle-500px1200.jpeg" altpx="" width="400px  " height="400px" ;>
                        <p class="letra">Corpiño T100 $1200</p>
                    </div>
                    <div class="imagen">
                        <img src="conjunto-jeans-pullover.jpeg" alt="" width="400px " height="400px" ;>
                        <p class="letra"> </p>
                    </div>

                    <div class="imagen">
                        <img src="jeans-todos-los-talles-4100-1.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra">Jeans todos los talles $4100 </p>
                    </div>
                    <div class="imagen">
                        <img src="jeans-todos-los-talles-4100.jpeg" alt="" width="400px " height="400px" ;>
                        <p class="letra"> </p>
                    </div>
                    <div class="imagen">
                        <img src="pantuflas-38-2600.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra">Pantuflas T 38 $2600 </p>
                    </div>
                    <div class="imagen">
                        <img src="pantuflas-39-40-2600.jpeg" alt="" width="400px" height="400px" ;>
                        <p class="letra">Pantuflas T 39-40 $2600 </p>
                    </div>
                    <div class="imagen">
                        <img src="pullover-rosa.jpeg" alt="" width="400px   " height="400px" ;>
                        <p class="letra"></p>
                    </div>

    










                    <div class="imagen">
                        <img src="./pulloverVariosColores.jpg" alt="" width="400px  " height="400px" ;>
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                              
                           </a> -->
                       </div>
                    </div>
                    <div class="imagen">
                        <img src="./pulloverVariosColores1.jpg" alt=""  width="400px" height="400px">
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                               
                           </a> -->
                       </div>
                    </div>
                    <div class="imagen">
                        <img src="./pulloverVariosColores2.jpg" alt=""  width="400px" height="400px">
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                            
                           </a> -->
                       </div>
                    </div>
                    <div class="imagen">
                        <img src="./pulloverVariosColores3.jpg" alt=""  width="400px" height="400px">
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                         
                           </a> -->
                       </div>
                    </div>
                    <div class="imagen">
                        <img src="./pulloverVariosColores4.jpg" alt=""  width="400px" height="400px">
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                           
                           </a> -->
                       </div>
                    </div>
                    <div class="imagen">
                        <img src="./pulloverVariosColores5.jpg" alt=""  width="400px" height="400px">
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                            
                           </a> -->
                       </div>
                    </div>
                    <div class="imagen">
                        <img src="./polera.jpg" alt=""  width="400px" height="400px">
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                            
                           </a> -->
                       </div>
                    </div>
                    <div class="imagen">
                        <img src="./camperitas.jpg" alt=""  width="400px" height="400px" object-fit="cover">
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                             
                           </a> -->
                       </div>
                    </div>
                    <div class="imagen">
                        <img src="./camperitasRosa.jpg" alt=""  width="400px" height="400px" object-fit="cover">
                        <div class="overlay">                      
                            <!-- <a  target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda"> <h2>M&aacute;s info, escribinos!!</h2>
                           
                           </a> -->
                       </div>
                    </div>
                    
                </div>
            </div>
           </div>

        </section>
        
    </main>
    <section>
        <footer>
            <div class="contenedor-footer">
                <div class="content-foo">
                    <h4 >Celular</h4>
                    <p>
                        Chate&aacute; con nosotros, estamos a tu disposici&oacute;n!!
                        <a target="_blank" href="https://api.whatsapp.com/send?phone=[54][2273418524]&text=Hola%20Mirian!,%20vengo%20de%20tu%20pagina%20necesito%20precio%20de%20una%20prenda" class="float" target="_blank">
                            <i class="fa fa-whatsapp my-float"></i>
                        </a>
                    </p>
                </div>
                <div class="content-foo" id="contacto">
                    <h4>Seguinos</h4>
                    <a href="https://www.facebook.com/mirian.ahibe"><img src="./face.jpg"></a>
                    <a href="https://www.instagram.com/mirianahibe/"><img src="./instagram.jpg"></a>
                </div>
            </div>
            <!-- style="border: 0px solid;  -->
            <!-- display: inline;" alt="contador de visitas"  -->
            <div class="titulo-final">&copy;2022 vgrana design</div>
            
            <!-- <a href="http://www.websmultimedia.com/contador-de-visitas-gratis"> -->
            <!-- <img src="http://www.websmultimedia.com/contador-de-visitas.php?id=295580"></a> -->
            </a>
        </footer>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            M.AutoInit();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>


</html>
<!-- Compiled and minified JavaScript -->